table,tr,td
    {
        background-color: white ;
            font-family: Verdana;
                color: black;
                    border: 0px solid black;
            padding: 5px;
        border-collapse: collapse;
    }
 .h
    {
        border: 15px groove whitesmoke;
            padding: 0px;
    }
 .posisi
    {
        position: absolute;
            margin-left: auto;
                margin-right: auto;
                    margin-bottom: auto;
                        margin-top: auto;
                    left: 0px;
                right: 0;
            top: 100px;
        bottom: 0;
    }
 body
    {
        background-image: url('grafity.jpg');
            background-repeat: no-repeat;
                background-size: 1600px;
    }  
ul
    {
        float: right;
        display: inline-block;
    }
ul a
    {
        font-size: 16px;
        font-family: 'Satisfy', cursive;
        text-decoration: none;
        color:yellowgreen;
        margin-right: -5px;
        padding: 20px;
        transition: 0.6s ease-in-out;
    }
    
ul a:hover
    {
        background-color: #f3ecec;
        color: #000;
    }
    